#article {
  width: 100%;
  height: auto;
  background-color: #ffffff86;
  border-radius: 5px;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 168, 255, 0.3);
  margin: 120px auto;
  margin-bottom: 60px;
}

.container1 {
  height: 100vh;
}

#cover-image {
  width: 100%;
  /* height: auto; */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.blog-meta {
  width: 100%;
  /* height: auto; */
  padding: 12px 96px 0px 96px;
}

.blog-meta h1 {
  width: 100%;
  height: auto;
  font-family: "Raleway";
  font-size: 28.8px;
  font-weight: 600;
  letter-spacing: -1.5px;
}

.author {
  font-family: "Raleway";
  font-size: 15px;
  font-weight: 500;
  font-style: italic;
  color: #0096ff;
  margin-top: 6px;
}

.date {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
}

.blog-content {
  padding: 2em 6em;
  padding-top: 0px;
  overflow: auto;
}

.blog-content p {
  font-family: "Raleway";
  font-size: 15px;
  line-height: 1.5em;
  letter-spacing: 0.2px;
}

strong {
  font-weight: 600;
}

hr {
  margin: 0%;
}

/* social media icon */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3b5998;
  color: white;
}

.twitter {
  background: #55acee;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

@media screen and (max-width: 720) {
  #article {
    margin: 60px auto;
    margin-bottom: 30px;
  }
}
