{% extends 'Blog/base.html' %}
{{% block body %}

<div class="container my-3" >

<div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative ">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary"><h3>
    {{blog.title}}</h3></a></strong>
<p class="mb-0">Article by:<b>{{blog.Author}}</b></p>
<div class="mb-1 text-muted">{{blog.time}}</div>
<p class="card-text mb-auto">{{blog.content|safe}}</p>
<div>
</div>
</div>

</div>
</div>
</div>
{% endblock body %}}